[2017-02-16 18:57] lsmag opened #738 "Problems rendering points with CET dates"
Hi,

I'm trying to plot a line chart with `data` with MG 2.6.0 containing values like this:

    [
      {
        "date": "2016-12-05T00:12:00.000Z",
        "value": 3
      },
      {
        "date": "2016-12-06T00:12:00.000Z",
        "value": 1
      },
      {
        "date": "2016-12-13T00:12:00.000Z",
        "value": 1
      }
    ]

These dates are not in my local timezone. After calling

[2017-02-22 00:59] cache-rules opened #739 "Left and right y axes?"
Hello,

I'm working on a project that visualizes some metrics data, and I'd like to use MetricsGraphics, but it looks to be lacking a critical feature. I need to be able to plot up to 4 different series of data in a chart, but some of the data has very large y-axis numbers (i.e. a value of 1,000,000) while other metrics would be much smaller (i.e a value of 1 or 5). When plotting these measures on

[2017-02-26 22:40] pgmolloy commented on #565
Would love this as well

[2017-02-28 17:31] SinanGabel commented on #739
That could be great.

If possible it could be great to have an option that would allow for automatic allocation (some kind of "most appropriate allocation") of the different time series to the two axis (left and right axis).

[2017-03-01 22:39] saptarshiguha opened #741 "Diagram might be helpful to understand the layout of a figure"
A diagram describing the borders and extents of a figure might be useful to understand the definitions used in

https://github.com/mozilla/metrics-graphics/wiki/Layout

thanks again
Saptarshi

[2017-03-10 03:09] benschwarz commented on #252
@amiel, I'm interested.
Given that there is a setting for `area: true/false`, it should probably add area fills.
@hamilton was in favour of the change, so I think it'd be great to see it get through.

[2017-03-10 03:12] benschwarz commented on #252
Line ref: https://github.com/mozilla/metrics-graphics/blob/master/src/js/charts/line.js#L600

[2017-03-21 13:55] calexicoz opened #742 "Enable synchronized rollover of multiple charts"
Hi there,

Kudos for MG! It's a great library :D

Often times, I show dashboards with multiple graphs, each presenting their own set of metrics (multiple lines). It would be nice to have the rollover on one chart be a rollover on all the charts simultaneously, so one could look at all the values at a point in time easily (and/or look at the shape of each graph at a specific point in time).

Thanks

[2017-03-22 19:33] dhruvarora93 opened #744 "Divide time series graph into two colors"
Hi,

I am drawing a time-series graph using the library. I want to divide my graph in two different colors, as in, from Jan-June the graph should be in a particular color and from July onwards in a different color. How can I do that ? Appreciate any help.

Thanks.

[2017-03-30 19:29] kaukas opened #745 "Aggregate rollover with a single data point"
Hello.

I am not sure this is related to #610 or even makes sense at all but having two lines with a single data point on each and `aggregate_rollover: true` throws an error. I just tried this on [the demo page](https://www.metricsgraphicsjs.org/interactive-demo.htm) and this is enough to throw an error:

[code]

The error (on Firefox at least) is:

Thank you!

[2017-03-31 21:56] ejdaly commented on #718
left margin doesn't seem to push the y_label away - just adds more whitespace to left of y_label also

[2017-04-06 09:07] platenspeler opened #746 "Function Names and HTML includes"
Hi,

Thanks for the wonderful library.

- However,  would like to see function names being unique for the MG environment. I use for example init() as well as probably do more people. I can change this in my code of course (I did) but when using several libraries on one site better keep function names unique (with prefix or so).
- The examples or source code do now show the minimal set of <source>

[2017-04-06 10:12] fpalamour opened #747 "show_rollover_text: false doesn't seem to work with singleton on point chart type"
I have a few graphics point type and sometimes one of them can only have a single value. In that case, the show_rollover_text set to false doesn't work. I still have the rollover text displayed.

Am i missing something ?

Thank you

[2017-04-07 03:26] xycloud opened #748 "any directive for angular?"
any directive for angular?

[2017-04-07 10:04] arnonuem commented on #744
@dhruvarora93 I am working on the same issue. Have you found any solution yet?

[2017-04-12 18:25] amiel commented on #252
Thanks for the input.

I started looking in to changing it so that `area` has a default based on other options, but can still be overridden when explicitly set. So far, I have [some tests :)](https://github.com/mozilla/metrics-graphics/compare/master...amiel:allow-multiline-areas).

However, here's what I found:

* `MG.data_graphic` sets the [default `area`](https://github.com/mozilla/metrics-grap

[2017-04-14 16:04] romanzipp opened #749 "missing-data Chart type overwrites all charts"
I wrote the following code to display charts when iterating through some HTML elements. If the requested data points are not enough (lower than 3) a `missing-data` chart is displayed.

If a `d3.json` request with less than 3 data points is issued before a "successful" request, all following chart types get changed to `missing-data`.

[code]

# Screenshots

## Correct behavior
![2017-04-14 18_01_20

[2017-04-17 16:40] amiel commented on #252
Ok, I went ahead and implemented Option 2 (see #750). It does the trick. Let me know what you think.

[2017-04-17 17:46] brylie opened #751 "How to render an image instead of group/category label?"
We have an application that asks users how they are feeling, by presenting them with a series of faces:

![screenshot_20170417_204516](https://cloud.githubusercontent.com/assets/17307/25097821/c5fd2908-23ae-11e7-9095-d63ec4cdcbd9.png)

We would like to render a bar chart, or other chart type, with the results of the question:

![screenshot_20170417_204620](https://cloud.githubusercontent.com/asset

[2017-04-18 17:19] hamilton commented on #741
I agree. Now that I'm back and putting together a release, it's time to add some more documentation.

[2017-04-18 17:21] hamilton commented on #749
Thanks for the issue. I'll look into it.

[2017-04-18 17:25] hamilton commented on #742
Hi - this is certainly already doable. Take a look [here](https://github.com/mozilla/metrics-graphics/wiki/Graphic#linked).

Apologies for the late reply - I was on leave for the last few months, meanwhile the other contributor left Mozilla, so things are a bit backed up at the moment.

[2017-04-18 17:34] calexicoz commented on #742
No worries at all, and thanks for the update!

[2017-04-18 17:38] #742 closed

[2017-04-25 06:36] daosist92 opened #753 "xax_count with automatic date time formatting"
I've create graphic with a defined xax_count value.
I'm new to metricsgraphics and don't clearly understand how can i mix xax_count parameter and automatic_time_formatting as in examples on your website.
I tried to find out how can i do this and found source:
[code]
Think that xax_count parameter should be taken into account somewhere. Maybe I should set custom xax_format? Could you advice me some

[2017-04-25 19:15] pintergreg commented on #590
The title popup is clearly depends on bootstrap, that is not mentioned at the dependencies, besides this I do think this dependency should be cut. I do not want to use bootstrap or its CSS. Please provide an own CSS for that popup or at least make this dependency clear in the documentation.

[2017-04-26 14:55] maprules1000 commented on #690
@Pascal66 I had the same error. I turns out my graph was missing the `target` field.

[2017-04-26 15:02] maprules1000 commented on #690
@Pascal66 I had the same problem. It turns out that my specified `target` elements were not on the page when I tried to setup my chart. Hope this helps.

[2017-04-29 18:42] JerrySievert opened #755 "odd date formatting (local)"
hello,

I am experiencing some odd date formatting and was hoping for some help/advice.

my data looks like this:

[code]

which is the correct time in UTC.

I have a date parser:

[code]

but when I display the data, it shows date and time as if it were in UTC - April 28, 7pm

I have tried toggling `utc_time` to false, which continues with this behavior, but when I set `utc_time` to true, it offs

[2017-05-01 23:35] StompyNZ commented on #729
it's probably this line from the process_line function:

var from = (args.min_x) ? args.min_x : start_date;

if args.min_x is 0 then (args.min_x) is false, so its using start_date instead of 0

the test should be:
var from = (args.min_x != null) ? args.min_x : start_date;

[2017-05-02 16:28] #733 closed

[2017-05-02 16:47] #662 closed

[2017-05-02 17:02] hamilton commented on #744
A pretty easy way to do that would be to make two time series for the two different colors, and plot that. As of now there is no way to do that with a single array of data.

[2017-05-02 17:05] hamilton commented on #751
Great idea. Not sure at the moment. Bar charts are not a fully-finished thing quite yet, but it seems like the real issue is we should be able to render images as labels in some way.

[2017-05-06 05:30] daosist92 commented on #753
I spend some time to understand code linked with timelines and main-format. I have a decision how to resolve my problem. I pass one more param into the graph args (x_axis_date_autoType). If it's true than i do smth like that.
[code]
and in `mg_get_auto_time_frame()` and `mg_get_auto_time_format` i just diff my interval with different values to get best fit format. I think that "hooks" decision wil

[2017-05-19 12:13] Humphreybas opened #756 "aggegrate rollover not correctly handling two points in same second"
When I have three datapoints at `t=0.1`,`t=1`,`t=1.9` for example. The mouseover dot won't show for the second point. Instead it will show for the third point and the legend will have both points.

Is this a bug or am I doing something wrong?
`
var data = [
  [{"date": new Date(100),"value": 5},
  {"date": new Date(1000),"value": 7},
  {"date": new Date(1900),"value": 12}]
  ,
  [{"date": new Date

[2017-05-24 09:12] brylie opened #757 "Add support for Vega grammar"
A delarative visualization language, or grammar, gives people an intuitive way to create data visualizations. Vega is attempting to build a standardized, research-based, grammar for data visualization.

# Goal
Align Metrics Graphics with the Vega *ecosystem*, by adding incremental support for Vega semantics.

[2017-06-14 03:34] GelLiNN commented on #469
What format is MG.convert turning the date into?  Because I already have to iterate through the JSON array cleaning up the data and making it all nice and expected for Metricsgraphics.  If I know the format it's expecting I can make my filtered array already have that format.

[2017-06-15 19:12] jeromegn opened #758 "Small height and width threshold never used"
I'm using 2.11.0 and I've noticed there's nowhere in the code where the options `small_height_threshold` and `small_width_threshold` are being used.

As far as I can tell, those options don't do anything. It'd be useful if they did though. I can sure add my own CSS to handle those, but I'd rather it was handled automatically.

Am I missing something?

[2017-06-15 21:36] YagoLopez opened #759 "End load event"
Hello. I'm making a MG Angular 4 Component. I'have searched for something like "event loaded" with no luck.

Is there any event/life cycle hook/callback to know when a chart has ended its process?

Thank you.

[2017-06-23 13:11] YagoLopez commented on #748
Hey there.

Do you mean, Angular 2+?

I'm finishing a dashboard that includes an Angular MetricsGraphics component and a Leaflet Maps Directive. Take a look at: [NG Dashboard](https://github.com/YagoLopez/ng-dashboard)

The dashboard itself is based on a library of angular ui components developed by me:
[Material Light](https://github.com/YagoLopez/material-light)

Comments and sugestions are welc

[2017-06-24 00:59] devmi commented on #561
On a smaller width, it's still possible to overlap dates on x-axis on **v2.11**.
<img width="381" alt="mg-issue-561" src="https://user-images.githubusercontent.com/19313261/27504380-4b6c99ee-583d-11e7-88db-95d5401d77be.png">

To reproduce it, please copy the [auto time formatting > Over A Large Span of Days](https://www.metricsgraphicsjs.org/examples.htm#auto-time-formatting) sample code to the [i

[2017-06-26 05:19] dannabanana34 opened #760 "video"

[2017-06-26 19:29] richaus opened #761 "Is there a way within Metricsgraphics to create gradient fills?"
Trying to have gradient fills in several of our line charts. I've been looking through the options but not seeing a simple way to do this.

[2017-06-27 08:45] alexrussell commented on #748
FWIW the Readme mentions an "angular directive" in the [Gallery section](https://github.com/mozilla/metrics-graphics#gallery) at the end.

Links to https://github.com/elmarquez/angular-metrics-graphics but it may be out of date as it appears to have last been edited in 2015.

[2017-06-27 22:53] YagoLopez commented on #748
@alexrussell yes, that is a directive for the old version of AngularJS.

For anyone interested in a component for the new version  (v4+) here is the code:
[MgChart](https://github.com/YagoLopez/ng-dashboard/tree/master/src/app/mgChart).

It is part of a Dashboard project for Angular (v4+) [NG Dashboard](https://github.com/YagoLopez/ng-dashboard)

[Demo online](https://yagolopez.js.org/ng-dashboard

[2017-07-05 18:56] devmi opened #762 "On smaller widths, it's still possible to overlap dates on the x-axis"
On a smaller width (e.g. 400px), it's still possible to overlap dates on x-axis on **v2.11**.
<img width="381" alt="mg-issue-561" src="https://user-images.githubusercontent.com/19313261/27504380-4b6c99ee-583d-11e7-88db-95d5401d77be.png">

To reproduce it, please copy the [auto time formatting > Over A Large Span of Days](https://www.metricsgraphicsjs.org/examples.htm#auto-time-formatting) sample c

[2017-07-06 13:53] deltaidea opened #763 "Scatter plot best fit line can get outside of the plot rectangle"
Thank you for the awesome library!

## Reproduce this bug in the [playground](https://www.metricsgraphicsjs.org/interactive-demo.htm)

[code]

## Actual behavior

![image](https://user-images.githubusercontent.com/4950036/27914259-09a8810a-627c-11e7-9ed2-de95499df86f.png)

## Expected behavior

The best fit line doesn't get outside of the plot and onto the axis. It should end inside or be hidden w

[2017-08-06 09:46] SJasoria commented on #714
@hamilton, I'm working on a GSoC project with @wlach where I have used metrics-graphics to generate bar charts. I'm facing a similar problem as stated in this issue. I have a basic idea of how d3 works. I was wondering if you could guide me to solve this issue?

[2017-08-08 21:28] openjck opened #764 "Y-axis label sometimes overlaps ticks"
### Steps to reproduce

Download and open this [HTML document](https://gist.github.com/openjck/621505033bc9b22d7d24eb7f48f65062)

### Actual result

The y-axis label overlaps the y-axis ticks

### Expected result

The y-axis label should not overlap the y-axis ticks

[2017-08-22 13:27] Vaishnavij opened #765 "Support for XML data ?"
This is more like a request for feature availability, rather than a question. From the documentation I could understand there is support for JSON, so would like to know if there is support for custom XML format data, if not, how easy is it to extend?

[2017-08-24 04:29] hoohoo-b commented on #690
@maprules1000 It rly helps, thanks! I have the same error. How did you fix the problem?

[2017-09-07 10:31] Gaetane commented on #751
It could be great also to be able to add images in the markers label, to highlight some important data.

[2017-09-07 11:38] brylie commented on #751
Yep, I am literally just working on the above chart in our project.

Any update on this request, or ideas as to how to proceed?

[2017-10-03 12:08] Loreno10 opened #766 "Text labels for X axis"
is it possible to set X labels values as texts? For exampe I'd like to display number of people in each country - X axis would be countries names, Y axis would be the people numbers.
When I try to do something like that I get "TypeError: Cannot read property 'curveCatmullRom' of undefined at Object.MG.data_graphic".

[2017-10-05 14:35] robertjliguori opened #767 "Sluggish using time series"
We are loading 30,000+ records into the time series components and we are getting sluggishness and freezing with the browser.

We are using Glassfish set with 2G memory, so we don't this the issue is in the backing beans moving the data.

Is the time series component developed to handle 30,000 records efficiently?  or is there a max size constraint that we are exceeding?

Robert

[2017-10-11 19:00] armenzg opened #768 "telemetry-wrapper does not work with D3 v4"
I have a React project where metrics-graphics is already installed and imported.

This means that telemetry-wrapper will get to use metrics-graphics (and depedencies) from node_modules rather than what is specified in the <script> tags.

This commit shows you what I mean (ignore the fact that I remove the script lines):
https://github.com/armenzg/react-telemetry-demo/commit/e547ade0beb07d71a377182

[2017-10-11 19:07] armenzg commented on #768
Wrong project: https://github.com/mozilla/telemetry-dashboard/issues/339

[2017-10-11 19:07] #768 closed

[2017-10-19 17:43] jrmuizel opened #769 "Add the ability to get more information about a particular data point"
On this graph https://wrperf.org/machines/1/results you can mouse over and see the git commit corresponding to each data point, but the commit sha1 is not clickable. Compare with https://arewefastyet.com/ where you can click on a datapoint to give a dialog that has a link to the actual commit.

[2017-10-21 15:38] lovromazgon commented on #445
Any updates on this issue? Is there a way to achieve a fixed height chart with auto sizing width? Judging by #407 it is (or at least was) possible.

[2017-11-20 18:31] sedwan opened #772 "TypeError: node is null"
HI!

Just working on a VueJS project under webpack where I need to plot some charts with metrics-graphics v2.11.

When I use a simple data_graphic from metrics-graphics, I got an error when the page is loaded. However, the charts appear normaly after a while. Just getting the following trace :

[code]
Called from :

[code]

Any clue about it ?

A sample of the data I use is attached [data.txt](htt

[2017-11-22 09:56] sedwan commented on #772
Found out why ! I used the directive v-if on the html node used to attach the chart. The directive was listening an asynchronous data not set when metrics-graphics attempts to attach the plot.

I just use a v-show instead of v-if now. So that the node exists when metrics-graphics is loaded, it's just "hidden"

Hope it will help.

[2017-11-22 09:56] #772 closed

[2017-11-22 15:32] EpocDotFr opened #773 "[Question] How to force Y axis to not display its negative part?"
Hello!

I have a little issue using MG (wonderful library BTW!) when Y values are all equal to 0.

![image](https://user-images.githubusercontent.com/2053431/33135305-5242be4c-cfa2-11e7-89bf-5f3b3cc92dfe.png)

In my use case, negative Y values aren't possible but as you can see MG shows me the `-1` Y tick instead of the `1` one. Setting `min_y` to `0` has no effect.

Do anyone know how to prevent

[2017-12-03 02:39] siegelty commented on #563
Checking in to see if this is fixed. We are having issues when trying to update the graph of 7.5k data points.

Thanks!

[2017-12-11 16:12] EpocDotFr commented on #773
Hello?

[2017-12-13 21:34] hamilton commented on #553
Closing this for now, since I think we lost the thread two years ago.

[2017-12-13 21:34] #553 closed

[2017-12-13 21:36] wlach commented on #765
Sorry for late reply. I think this is out of scope for the project. You can always convert your xml data to a js data structure using some other library and then use metrics graphics to visualize it.

[2017-12-13 21:36] #765 closed

[2017-12-13 22:10] hamilton opened #782 "migrate to Webpack / Neutrino / Jest for build"

[2017-12-13 22:12] wlach commented on #769
We've been talking about implementing this soonish, making it possible to create these popovers somehow is indeed the sort of thing we'd like to support.

[2017-12-13 22:16] #760 closed

[2017-12-13 22:18] wlach commented on #767
Noticed this, especially with Firefox. We want to see if we can do something about this for the next major release.

[2017-12-13 22:53] hamilton commented on #761
Sorry - I don't believe this should be in-scope for MG. Thanks for the issue, however.

[2017-12-13 22:53] #761 closed

[2017-12-13 22:54] wlach commented on #764
This still seems to be reproducible, would be nice to fix.

![image](https://user-images.githubusercontent.com/20569/33966702-32209c9e-e026-11e7-8a9f-42db0872443d.png)

[2017-12-13 22:59] hamilton commented on #751
We're getting back to sorting through all the issues right now. I'm afraid this is not on our roadmap at the moment.

[2017-12-13 22:59] #751 closed

[2017-12-13 22:59] wlach commented on #748
Hey all, we are currently linking to one angular wrapper in the README.md, feel free to send pull requests to add more. Closing this issue, as we won't be adding angular support directly inside metricsgraphics itself.

[2017-12-13 22:59] #748 closed

[2017-12-13 23:02] hamilton commented on #759
Given that MG is a synchronous library, you could just put the callback right after the call to `MG.data_graphic`. We do not currently support any other form of an "event loaded" hook at the moment, but may in the future once we embark on refactoring the hooks.

[2017-12-13 23:02] #759 closed

[2017-12-13 23:03] wlach commented on #747
Sorry for the late response. A test case would be helpful here. :)

[2017-12-13 23:07] hamilton commented on #757
Thank you for the issue. We're getting back to sorting through all our currently-open issues, and I'm afraid this is out of scope for MG.

[2017-12-13 23:07] #757 closed

[2017-12-13 23:10] wlach commented on #745
This does look like a real bug!

[2017-12-13 23:12] hamilton commented on #739
Hi - apologies for the delay in response here! I'm afraid this is out of scope for Metrics Graphics for philosophical reasons. We've discussed this in #138 before, if you'd like to see an explanation.

[2017-12-13 23:12] #739 closed

[2017-12-13 23:15] hamilton commented on #682
This function will likely not be implemented any time soon. You could, however use Firefox Screenshots or the function @almossawi referred to in #550, but that's about the best we can provide at this point.

[2017-12-13 23:15] #682 closed

[2017-12-13 23:15] wlach commented on #762
I have noticed this behaviour as well, would be nice to fix.

[2017-12-13 23:18] wlach commented on #744
I think we're just going to suggest using @hamilton's suggestion above to handle this case.

[2017-12-13 23:18] #744 closed

[2017-12-13 23:19] #725 closed

[2017-12-13 23:23] hamilton commented on #713
I believe the default interpolation is already set in the docs, so I'm going to close this (old) issue. Apologies for delay.

[2017-12-13 23:23] #713 closed

[2017-12-13 23:26] hamilton commented on #685
Not at the moment. It is not in scope in the immediate future, but we will likely figure out how we want to approach the API for this at some point in the next year.

[2017-12-13 23:26] #685 closed

[2017-12-13 23:43] hamilton commented on #518
(2 years later) upon thinking about it, I feel that box plots are out of scope for MG at this time. We're focusing on having very strongly opinionated / fully-featured plot types, and I can't see how we can prioritize this for our target audience.

[2017-12-13 23:43] #518 closed

[2017-12-13 23:48] hamilton commented on #737
Bar charts are not fully implemented at this point (and indeed marked 'experimental' on our documentation), and I'm sure once we circle back on this, we'll fix this.

[2017-12-13 23:48] #737 closed

[2017-12-13 23:49] wlach commented on #756
This does appear to be a bug.

[2017-12-13 23:51] #663 closed

[2017-12-13 23:54] wlach commented on #732
This isn't currently implemented, but might be nice to have (or at least make it possible to do this yourself easily somehow)

[2017-12-14 01:14] YagoLopez commented on #759
@hamilton Thanks for the response. I will try with using a callback.

[2017-12-14 03:31] wlach commented on #656
This is implemented as a seperate library. See: https://github.com/mozilla/react-metrics-graphics

[2017-12-14 03:31] #656 closed

[2017-12-22 00:03] openjck opened #783 "When there are more than 5 lines, line 6 an up are invisible"
### Steps to reproduce

Download and open this [HTML document](https://gist.github.com/openjck/0d4b779240975c1b1bd1f53d52b0a0ce)

### Actual result

<img width="373" alt="" src="https://user-images.githubusercontent.com/933396/34279867-a292a588-e681-11e7-8489-3f4d6cb8fc8a.png">

The final 5 lines (in this case, the top-most 5 lines) are invisible. Hovering over them does cause a black circle to ap

[2017-12-22 00:10] hamilton commented on #783
Agreed, that would be a better expected result. It should also simply have a larger set of colors.

[2017-12-23 11:22] shikhar-scs commented on #783
@hamilton can I please work on it ? and (if yes) being a newbie it would be great help if you could guide me a bit in this

[2017-12-23 11:38] shikhar-scs commented on #783
However the README.md mentions something about this in the FAQ section.
[code]

So, I guess this has been done on purpose. However, taking the scope to around 10 different colors shouldn't cause much harm. I've found out where to work on this.

If allowed can I file a related PR please ? @hamilton whatsay

[2017-12-23 19:21] wlach commented on #783
My vote would be to allow up to 10 colors and render any additional series in black. I agree that most charts shouldn't need/have more than 5 different colors in them, but otoh I don't think it's helpful to be overly restrictive here given the low effort involved.

[2017-12-24 01:44] shikhar-scs commented on #783
@wlach similar thoughts I have.
Then maybe I'll pick up the rest of the 5 from the d3 series available [here](http://bl.ocks.org/aaizemberg/78bd3dade9593896a59d) and file a PR soon.

[2017-12-24 11:59] shikhar-scs commented on #783
@wlach I've started work recently and realised that actually it would be of much help if you could tell me the exact colours you would want apart from steelblue for 6.

[2017-12-24 15:04] hamilton commented on #783
This sounds like a great PR. I'd say:

1.) Extend to 10 colors. You can fill in the remaining 5 from the link you provided. Frankly the ordering is not particularly important past the 5 we have now (which were from `category10` but moved around since we didn't want to see that light color as the second line all the time).
2.) Past 10, the lines should be black + they should have the appropriate cl

[2017-12-24 15:22] shikhar-scs commented on #783
Ok @hamilton me right at work.

Maybe I'll file another one, improving the README for the same

I'll keep this in mind for sure

[2017-12-25 03:34] shikhar-scs commented on #783
@hamilton
I had implemented the colors for the first 10 lines easily.
However, when I'm trying to implement this,

I'm unable to identify the exact places in [https://github.com/mozilla/metrics-graphics/blob/master/dist/metricsgraphics.js](https://github.com/mozilla/metrics-graphics/blob/master/dist/metricsgraphics.js) where the specific classes are being added to each path_line in the format `mg-

[2017-12-25 03:36] hamilton commented on #783
Happy to help guide, but due to holidays I’ll be away from the computer for
a few days.

On Sun, Dec 24, 2017 at 9:34 PM Shikhar Agnihotri <notifications@github.com>
wrote:

[2017-12-25 03:40] shikhar-scs commented on #783
Well that's no problem @hamilton I'll wait up till after the new year.

P.S. Merry Christmas :christmas_tree: :santa:

[2018-01-01 18:22] Brightside56 opened #787 "Can't assing fixed height on window resize"
Hello.

I would like to get fixed graph height on window resize and for that I specify desired height (and auto-width) in parameters, also I specify height of target element via css, hovewer it still changes together with width. How can I avoid it?

Is there also a way to change/not-change various child elements/labels size in case of window.resize?

Thanks
![clip2net_180101212214](https://user-im

[2018-01-02 12:07] EpocDotFr commented on #773
Can please someone help me?

[2018-01-02 13:47] shikhar-scs commented on #783
So @hamilton if you are back, do you mind answering this

[2018-01-02 15:48] wlach commented on #773
@EpocDotFr This looks like a bug to me. I will try to have a quick look at it tomorrow, but just bear in mind there is no one whose full-time job it is to maintain or support this library. The source isn't *too* hard to understand if you want to try and solve the problem yourself.

[2018-01-02 16:07] EpocDotFr commented on #773
I think the issue is located [here](https://github.com/mozilla/metrics-graphics/blob/815373f836cf5e702044b292d3535492c5b49c77/src/js/common/y_axis.js#L888). Setting `max_y` to something high will bypass all those computations and display a positive Y axis. Example for `max_y` set to `1000` will all axis `Y` values set to `0`:

![image](https://user-images.githubusercontent.com/2053431/34490187-5c3

[2018-01-04 18:35] wlach commented on #773
I think #788 should fix the issues here, waiting for Hamilton to give a review.

[2018-01-05 09:11] EpocDotFr commented on #773
I would happily want to test this fix but I cannot find any compiled JS file (I don't use NPM).

[2018-01-06 04:50] wlach commented on #773
If you're inclined it probably wouldn't be too difficult to modify the metricsgraphics distribution files to include the changes above, otherwise I can do up a new release with this and some other fixes next week (after it is reviewed)

[2018-01-06 10:26] EpocDotFr commented on #773
Confirmed: the issue is fixed with your modification.

[2018-01-07 09:57] brylie opened #789 "How to localize chart date labels?"
Our application is multi-lingual, so we are trying to make sure all text and dates are localized when the user changes language. One edge that is not yet localized consists of dates on a chart time axis:

![screenshot_20180107_115549](https://user-images.githubusercontent.com/17307/34648451-d827aa54-f3a1-11e7-8ec5-33451a4ce61f.png)

How can we tell MetricsGraphics the user locale, so that date str

[2018-01-07 12:09] shikhar-scs commented on #783
@hamilton are you back ?

[2018-01-09 18:46] wlach commented on #789
Under the hood, I believe we use d3.timeFormat to format these values which (at least according to the documentation) seems to be locale-aware.

https://github.com/mozilla/metrics-graphics/blob/296c39fb53ea1a941eacc5bcdc8bbcc917b13ec5/src/js/misc/utility.js#L25
https://github.com/d3/d3-time-format/blob/master/README.md#locale_format

Are you sure that locale formatting works in raw js as you expec

[2018-01-10 09:03] brylie commented on #789
Well, I have elsewhere used Moment.js to get localized date strings (e.g. weekday abbreviation). So, I was somewhat hoping to be able to use the Moment.js localization approach, or something similar.

[2018-01-10 09:05] brylie commented on #789
Would it be reasonable to have a `locale` property of MG chart instance? That way, the chart could handle date localization internally, allowing the user to simply specify the locale string (e.g. en-US).

[2018-01-11 14:07] sedwan commented on #252
+1

[2018-01-11 21:35] wlach opened #790 "Incorporate mg-line-brushing extension directly into metricsgraphics"
@dandehavilland wrote a great extension to metrics graphics that lets you brush through line charts and get an expanded view of them. You can see an example of it in action on the current metricsgraphics site:

https://www.metricsgraphicsjs.org/examples.htm#addons

Unfortunately for those of us installing metricsgraphics via npm, this package is not there. I think it likely makes sense to incorpor

[2018-01-11 21:41] dandehavilland commented on #790
That's already available via npm: https://www.npmjs.com/package/mg-line-brushing

I just verified that `npm i mg-line-brushing` works for me.

[2018-01-11 21:45] wlach commented on #790
Oh that's great. Longer term, what do you think about including this plugin in metricsgraphics itself?

[2018-01-11 21:47] wlach commented on #790
Part of my rationale is that I eventually want to support more sophisticated types of brushing, along with zooming -- and I think this will be easier to implement inside metricsgraphics itself.

[2018-01-11 21:57] dandehavilland commented on #790
Yeah, I'd be glad for it to become a part of MG proper. It's been dormant for a while so it'll no doubt need some tweaking. 👍

[2018-01-15 21:16] wlach commented on #783
@shikhar-scs I can probably help on this a bit, though I'm less experienced with the code in question than @hamilton. Could you post your work-to-date in a PR (referencing this issue)? Then we can iterate on this together.

[2018-01-16 01:55] shikhar-scs commented on #783
@wlach yep Sure, I'll push my code rightaway :+1:

[2018-01-19 14:47] jluttine opened #793 "Highlight a line on mouse over"
I have a multi-line graph with a large number of lines. I'd like to plot them all in black color and then change the color of a line on mouse over. There is `mouseover` option but I can't figure out how I could use that to change the color of the line (and then change it back after not being active anymore). The `mouseover` function receives a point, not the line, as its argument. Any ideas how to

[2018-01-19 14:55] jluttine commented on #793
It seems that `this.parentNode` is `undefined` inside the `mouseover` function.

[2018-01-19 14:59] jluttine commented on #793
This is my javascript part:
[code]

[2018-01-19 15:22] jluttine commented on #793
Ok, got it!
[code]

I added `id` attribute to each point and this `id` attribute tells the index of the whole line. Then I can use `"mg-line" + id` to select that line (or all paths belonging to that line).

Is there some "more correct" solution?

[2018-01-19 20:39] hamilton commented on #790
All for this.

[2018-01-22 05:33] beneuto opened #794 "Decimals option ignored when format is "percentage""
If format: "percentage" option is set then the data rollover will show percentage to 6 decimal places regardless of any value assigned to the decimals option.

[2018-01-23 15:44] jluttine opened #795 "Raise on mouse over"
How to raise a line on mouse over? I tried giving this to `MG.data_graphic`:
[code]
But the end result is a mess.. I've given each data point an `index` attribute to identify which line is in question given a single point from that line. Not sure if there's some better way for that.

Not sure, but could this be related to the second argument to data() which "is a callback function that, when calle

[2018-01-23 15:59] jluttine commented on #795
Fixed it partially by using:
[code]
No there are no new weird line segments appearing. However, if the cursor is exactly over the line, it may send both over and out messages, thus leaving the line in out state. At least with a thick line. Weird. Any ideas what's wrong? As if changing the order of the lines, causes another event after handling the first one. But this happens only when exactly over

[2018-01-23 16:19] jluttine commented on #795
When exactly over the line, no rollover point nor text is shown. So it indeed is in "mouse out" state.

[2018-01-31 13:00] davedriesmans opened #796 "Markers on the end not taken into account"
This looks similar to issue #719 https://github.com/mozilla/metrics-graphics/issues/719. I'm using version 2.11.

- I have a timeline that has a value on 2018-01-30
- i have markers
``` var markers = [{"date":new Date('2017-12-19T00:00:00.000Z'),"label":"Campaign 2017-12-19"},{"date":new Date('2018-01-24T00:00:00.000Z'),"label":"Campaign 2018-01-24 (end)"},{"date":new Date('2018-01-31T00:00:00.000

[2018-01-31 20:10] wlach commented on #783
Hopefully we're good here now!

[2018-01-31 20:10] #783 closed

[2018-02-01 04:01] shikhar-scs commented on #790
@wlach Can I work on this issue under your guidance please ?

[2018-02-02 03:42] wlach commented on #790
@shikhar-scs absolutely! that would be great if you wanted to take this up.

[2018-02-02 04:01] wlach commented on #790
I think we're just going to move the code that's currently in the plugin inline into metricsgraphics. Probably the best way to start is to look at the plugin source https://github.com/dandehavilland/mg-line-brushing/blob/master/src/js/hooks.js and try to create a mental model of how it works. From there, it should be possible to come with a strategy on how to integrate it. If you get stuck, let me

[2018-02-02 04:30] shikhar-scs commented on #790
Ok @wlach I'll get started with this .

Yeah sure 👍

[2018-02-03 02:48] himanish-star commented on #762
@wlach, can I take over this issue?

[2018-02-03 02:49] himanish-star commented on #764
@wlach, Can I take over this issue?

[2018-02-03 05:14] himanish-star commented on #762
@hamilton, I need some help with this issue. Where are these markers set from(file)? I tried logging inside all the related functions inside `src/js/common/x_axis.js` but didn't notice anything. I have followed the instructions mentioned in https://github.com/mozilla/metrics-graphics/issues/762#issue-240743931. I think the changes have to be made in `x_axis` but I may be wrong. Please guide me :sm

[2018-02-03 06:30] wlach commented on #762
@himanish-star how are you testing? I recently made it a bit easier to get a test environment up and running: https://github.com/mozilla/metrics-graphics#contributing

And yes, you are more than welcome at trying your hand at fixing this issue. :) Or really any other that no one has claimed to be working on (or hasn't seen activity in a while).

[2018-02-03 07:04] himanish-star commented on #762
Yes this is how I'm testing it. I want to know that where are the `labels` for the x-axis set. When I was inspecting the x-axis in the browser inspector then I found out that `<line>` and `<text>` elements were used in the x-axis. So I started searching for this and I found these elements inside the `x_axis.js` file. But as I said when I logged into most of the functions inside this file which I t

[2018-02-03 17:39] shikhar-scs commented on #790
@wlach I guess I have solved the problem. I'll soon file a PR for the same

[2018-02-04 02:43] shikhar-scs commented on #773
I guess this bug has been fixed. (If yes) Please close this

[2018-02-04 02:52] himanish-star commented on #762
@wlach, what is the `id` of the IRC channel of `metrics-graphics`

[2018-02-04 03:29] himanish-star opened #799 "Change 'follow' to 'following' in README.md"
The line `For an eleventh line, you would add the follow CSS rules:` should be changed to `For an eleventh line, you would add the following CSS rules:`

![image](https://user-images.githubusercontent.com/30361728/35774012-46d11bd2-0989-11e8-8d49-b87319c7f245.png)

If this is desired to be corrected. May I do so?

[2018-02-04 14:30] EpocDotFr commented on #773
The bug is fixed but the fix is not yet released. IMO it's better to close this issue once the fix is released.

[2018-02-04 15:13] shikhar-scs commented on #773
Yeah Sure :+1:

[2018-02-05 09:53] shikhar-scs commented on #632
@hamilton If this issue is still up, can I work on it ?

[2018-02-05 15:29] wlach commented on #799
Please do. :) No need to ask!

[2018-02-05 15:31] wlach commented on #789
@brylie Sorry for the late response on this, somehow I missed that you followed up. I think that would be reasonable (to have a locale property), but I think the default behaviour should be to use the user's locale, if that's not already the case (it seems that it isn't).

[2018-02-05 15:41] wlach commented on #762
@himanish-star I just created a channel on irc.mozilla.org: #metricsgraphics. Feel free to ask questions there.

To be honest I am still getting to grips with the code as well, but I think maybe a search for ticks might be productive at helping you find where to look for things to log/change. I get a lot of hits for that with `git grep` which seem promising.

[2018-02-05 16:11] himanish-star commented on #799
Sure I'll do it

[2018-02-05 16:14] himanish-star commented on #762
Thanks. I think I have found a solution to this issue. And thanks for creating an IRC channel. :smiley:

[2018-02-06 00:23] edmorley opened #800 "Release notes missing for 2.12.0 and 2.13.0"
Hi :-)

The latest version with a detailed changelog on the releases page is 2.11:
https://github.com/mozilla/metrics-graphics/releases

Could someone add a few notes for 2.12/2.13 to help us know what might change when upgrading?

[2018-02-06 07:51] EpocDotFr commented on #773
I confirm this bug was fixed in the latest 2.11 release. CLosing issue. Thank you!

[2018-02-06 07:51] #773 closed

[2018-02-06 08:27] brylie commented on #789
That makes sense. However, there should be an easy override for this behavior, in the case of automatic error. I.e. **allow manual override**.

The `locale` attribute would allow the site designer to 'pipe' or 'wire' the user locale into the chart from the application state. E.g. our application has a language select input that allows users to manually specify their 'locale'.

[2018-02-06 14:39] wlach commented on #800
I am probably not going to bother with release notes (unless there's a convenient automagic way to create them? please re-open if you know of one), but producing an auto-changelog seems reasonable, did that here: ef491495002bad10b3ade5080c26203d82822b4c

[2018-02-06 14:39] #800 closed

[2018-02-06 14:41] edmorley commented on #800
Works for me, thank you :-)

[2018-02-06 14:51] #799 closed

[2018-02-07 18:24] wlach commented on #794
I can't actually reproduce this, are you sure?

[2018-02-07 19:52] vedantc98 commented on #736
@wlach Please take a look at this whenever you can, thanks

[2018-02-08 02:21] openjck opened #806 "Allow user to specify population color"
This is offered by some other charting libraries, like [Chart.js](http://www.chartjs.org/).

It can be very helpful because it allows developers to use color generator like [distinct-colors](https://www.npmjs.com/package/distinct-colors) to generate colors for population lines that are maximally unique given the number of populations being shown. "If there are two lines, make them blue and red. If

[2018-02-08 14:14] manikishan commented on #525
How should it look like?

[2018-02-08 15:21] #764 closed

[2018-02-08 18:42] hamilton opened #807 "[META] We'd like to modernize the MG codebase."
Our high-level aim over the next few months is to get Metrics Graphics into a more modern state. This codebase was developed in another era, and in a ES-averse manner.

The library _works_ as we'd expect. In theory, the code is reasonably clear enough to read and contribute to, if you're comfortable with the idiosyncratic and outdated style of the JS we used when we were last contributing full-ste

[2018-02-08 18:46] hamilton commented on #782
This will be part of #807 eventually.

[2018-02-08 18:50] hamilton commented on #716
We'll be working on removing the dependency on jquery / bootstrap soon for the 2.14 release. This lib was written in a different era entirely.

[2018-02-09 04:00] beneuto commented on #794
Yep, see screenshot attached.

From code:

[code]

![image](https://user-images.githubusercontent.com/25493799/36011130-1845c31e-0da1-11e8-8fca-6287476fad4b.png)

[2018-02-09 12:57] lobax commented on #807
Hi,

We are four master students taking a course in software engineering, and as part of our coursework we are tasked with refactoring code in a large, active open source project and provide roughly 30 hours of work per person (this includes the time it takes to get up to speed with the project).

Since you are in the process of refactoring your codebase, we would like to offer our help! Is there

[2018-02-09 21:14] MatTheCat commented on #736
Well I didn't want any padding but that doesn't mean I wanted my graph cropped.

[2018-02-09 22:15] openjck opened #808 "Show/hide population line when population name is clicked in the legend"
This is something that some other charting libraries offer ([Chart.js example](http://www.chartjs.org/samples/latest/charts/line/basic.html)).

This feature was [requested in Ensemble](https://github.com/mozilla/ensemble/issues/15). We can add the feature on top of metrics-graphics ourselves, but I thought it wouldn't hurt to also request it upstream. :smile:

[2018-02-09 23:01] wlach commented on #808
This seems like a reasonable request!

[2018-02-12 00:16] wlach commented on #807
@lobax that's pretty interesting, I think the most accessible task will likely be modernizing the code to modern ecmascript standards, we probably want to enable babel transpilation (#809) before allowing that to proceed. @hamilton what do you think?

[2018-02-12 07:23] vedantc98 commented on #808
@wlach could I take up this issue?

[2018-02-12 14:43] wlach commented on #808
@vedantc98 definitely, though note this bug is probably not easy. I'm not that familiar with this code but the basic place to start with would be this example with a legend:

![image](https://user-images.githubusercontent.com/20569/36102005-e9c649ac-0fd8-11e8-80a6-39e0b93824d0.png)

See: https://www.metricsgraphicsjs.org/examples.htm#multilines

Note how the elements in the legend are not currentl

[2018-02-12 15:39] wlach commented on #794
@beneuto ok, I see that if I set decimals to 0, we see a bunch of decimals. Is that the issue you're seeing? Because otherwise this feature works as expected.

Just want to make sure we understand the problem before trying to fix it. :)

[2018-02-12 20:11] openjck commented on #707
Screenshot :smile:

![screen shot 2018-02-12 at 3 11 06 pm](https://user-images.githubusercontent.com/933396/36117283-ff9f3436-1006-11e8-882b-0e831b96ebaa.png)

[2018-02-13 11:08] lobax commented on #807
@wlach Great! Since we have a deadline for this, we will proceed on a fork.

Is there some specific part of the codebase that you feel we should start with?

[2018-02-13 18:26] hamilton commented on #807
@wlach I think this sounds like exactly the right first step! Having babel transpilation will make it much easier to migrate the code base piece-by-piece.

[2018-02-13 20:17] wlach opened #811 "Use ES6 constructs, idioms in metrics-graphics"
Now that we're using babel to transpile, we should start using some ES6 idioms. It might be a good idea to use an automated-converter like lebab to automate this process.

[2018-02-13 20:26] wlach commented on #807
@lobax I created a new issue #811 to track the ES6 stuff in particular. If possible, I would try to use some kind of tool to run these sorts of transformations in batches. If you finish early, there are certainly some other things we could have you do. :)

[2018-02-13 22:52] beneuto commented on #794
Yep, that's it.

[2018-02-14 08:53] shikhar-scs commented on #707
@wlach If no one is working on this issue, can I take it up please ?

[2018-02-14 12:22] daosist92 commented on #707
Sry if it's offtop but maybe the issue https://github.com/mozilla/metrics-graphics/issues/753 is connected with this. Anyway if it's so I'll be very grateful if you take a look.

[2018-02-14 13:30] lobax opened #812 "Bug: examples.htm does not work in the development environment"
When accessing the examples in `examples.htm` in the development environment setup with gulp,  it attempts to import them from `src/js/...`. However, gulp is setting the contents under `src` as root, so the files are not found.

Solution: Edit `examples.htm` so that it imports from valid paths.

[2018-02-14 20:01] openjck commented on #707
@shikhar-scs It sounds like you're free to take it up. At least that's how I interpret the *help wanted* label. :smile:

[2018-02-14 20:40] #812 closed

[2018-02-15 00:34] shikhar-scs commented on #707
Thankyou @openjck for that, I'll get started with the work soon 👍

[2018-02-15 09:28] lobax opened #814 "Bug: 6 tests fail with Firefox"
Using firefox 57.0.1 under OSX, 6 tests fail when running `grub test`. The same failures appear after an upgrade to 58.0.1, and have been replicated with a different machine running Windows 10. The tests do not fail with Chrome.

[2018-02-15 10:36] shikhar-scs commented on #707
Surprisingly in my system it shows this file to be correct :open_mouth:

![hey](https://user-images.githubusercontent.com/25258877/36252302-26292a48-126a-11e8-8049-66f4bc5c1f17.png)

[2018-02-15 10:46] lobax opened #815 "Travis should support ES6"
As a part of #807 and #811, we need to be able to test the modern ES6 constructs. These will however currently fail on travis, given that travis is configured to run on Node.js 0.10 (which does not support ES6 constructs).

Proposed solution: Travis should be configured to run on a newer version of Node that supports ES6 (e.g. 8.x)

[2018-02-15 15:47] wlach commented on #815
Hmm, the version of node you're specifying in that change looks weird. Could you try to specify the node version as done here:

https://github.com/iodide-project/iodide/blob/ec1dbaba28cd7c3860fd504055831bf91755566f/.travis.yml#L3

Also, in the future when you're working on something like this, just go ahead and make the pull request  (even if it's "broken") -- it'll be easier for me to find the ch

[2018-02-15 15:53] wlach commented on #814
Yep, I can reproduce this as well with Firefox 60 (nightly). Needs investigation.

[2018-02-20 18:05] openjck commented on #707
@shikhar-scs Are you using the Gist, which uses a later version of metrics-graphics, or master? Maybe it was fixed and the issue wasn't closed.

[2018-02-20 18:51] wlach commented on #815
I think we're good here, thanks @lobax and co.!

[2018-02-20 18:51] #815 closed

[2018-02-21 05:54] shikhar-scs commented on #707
Yeah that is what I think.

[2018-02-21 11:58] lobax commented on #811
A little wrap up of what we did and what is left to do:

All files under `charts` except `table.js` have been refactored to use ES6 with lebab. There are currently no unit tests for `table.js`, which is why we didn't refactor it.  Maybe a few should be added before further refactoring is preformed?

The files under charts could also further be refactored to use ES6 Classes.

[2018-02-21 19:32] openjck commented on #707
I'm also seeing that it was fixed *at least* as early as b363d82c229fba6a280c9782b8154aad0ac901e7, maybe much earlier.

[2018-02-22 16:17] shikhar-scs commented on #707
Yeah. So I guess @wlach this can be closed

[2018-02-22 17:44] wlach commented on #707
Ok, closing! Thanks all.

[2018-02-22 17:44] #707 closed

[2018-02-27 16:55] lobax opened #820 "Documentation on how to use table"
Hi! I'm trying to use MG.data_table(), and currently there is no documentation on how to use it.

I've tried to use it based on the code under `src/js/table.js`, but I can't quite understand how the input data is supposed to be formated in order to render some output.

Is it possible to get an example on how to use it? I can submit a PR with documentation on how to use it in the README/examples on

[2018-02-27 23:15] openjck opened #821 "y-axis labels are sometimes misleading when min_y_from_data=true"
### Steps to reproduce

Download and open this [HTML document](https://gist.github.com/openjck/b6e26c027f76c3691533c71a0721578e)

### Actual result

#### Screenshot

![](https://user-images.githubusercontent.com/933396/36760720-f8af953c-1be9-11e8-92a9-af836650db1a.png)

#### Description

The y-axis labels are:

**3**
**3**
**3**

### Expected result

The y-axis labels should be something like:

**

[2018-02-27 23:25] openjck opened #822 "max_y is not inferred correctly when min_y_from_data=true"
### Steps to reproduce

Download and open this [HTML document](https://gist.github.com/openjck/2311b6e3fb54e51faa36ada09d93d683)

### Actual result

#### Screenshot

![](https://user-images.githubusercontent.com/933396/36760720-f8af953c-1be9-11e8-92a9-af836650db1a.png)

#### Description

There's a lot of empty space above the highest data point. The documentation [says](https://github.com/mozilla/

[2018-02-27 23:44] openjck opened #823 "When max_y is set, the chart line sometimes curves in such a way that peaks are invisible"
### Steps to reproduce

Download and open this [HTML document](https://gist.github.com/openjck/d68f8e8a4c61dabb82b329f1e1c0c198)

### Actual result

#### Screenshot

![](https://user-images.githubusercontent.com/933396/36761660-17d2d7ae-1bee-11e8-8ae5-9f4d211c8d68.png)

### Expected result

The chart should look something like this (achieved by removing max_y):

![](https://user-images.githubuserc

[2018-02-27 23:50] openjck commented on #823
Any recommended workarounds? We tried setting set `max_y` on our charts to work around #821, but then we ran into this issue.

[2018-02-28 22:34] wlach commented on #823
Offhand I would suggest setting the max_y to something like 2.5 as a workaround? That seems to fix the issue for me:

https://jsfiddle.net/osz2vxom/

I agree we should do better than this though. I'd say this is a line chart kinda bug.

[2018-03-01 15:09] jeancroy commented on #789
+1 for having a user defined locale .
For example it's common to have an english browser, but still request a page form another locale, using url, a dropdown, cookie, user information stored in database etc.

[2018-03-01 15:29] jeancroy commented on #789
A minimum patch to get it working is to call something like that before le graph.

[code]

https://unpkg.com/d3-time-format@2.1.1/locale/

[2018-03-01 22:51] openjck commented on #823
I'll have to try that again. When I tried it in the project where I noticed this issue, setting a higher `max_y` didn't seem to work. But I must have been missing something. Thanks!

[2018-03-02 19:00] thomaschampagne opened #825 "Gulp "build:js" task generate a wrong dist/metricsgraphics.js UMD formated file"
Note: Problem as been identified in commit: https://github.com/mozilla/metrics-graphics/commit/5f42d5e7af4eca9d672398bfbf793614855a36d7

---
Since commit https://github.com/mozilla/metrics-graphics/commit/5f42d5e7af4eca9d672398bfbf793614855a36d7, the gulp "build:js" task generate `dist/metricsgraphics.js` umd file with an `undefined` value injected in `root` variable:

[code]
If we enter in `else`

[2018-03-02 19:20] wlach commented on #825
Hmm, I wonder what the problem is. I'll look into it.

[2018-03-02 19:22] thomaschampagne commented on #825
@wlach I have the fix. Do nothing. I will submit you a PR ;)

[2018-03-02 19:32] wlach commented on #825
Awesome!

[2018-03-02 20:30] openjck commented on #823
The same happens with min_y, FWIW.

[2018-03-02 20:35] thomaschampagne commented on #825
@wlach PR  https://github.com/mozilla/metrics-graphics/pull/826 pushed to fix that

[2018-03-02 22:07] #825 closed

[2018-03-02 22:11] openjck commented on #821
This also appears to happen if `min_y` and/or `max_y` are set manually.

[2018-03-03 00:48] openjck commented on #753
Is this still happening now that #707 has been fixed?

[2018-03-05 22:30] wlach commented on #794
This would make a decent good first bug, you should be able to reproduce it in the development environment described here:

https://github.com/mozilla/metrics-graphics#contributing

Then git grep for "percentage" in the source and try to find the source of the problem.

[2018-03-05 22:44] wlach commented on #820
Sorry about the late reply on this, there is a small example here:

https://www.metricsgraphicsjs.org/examples.htm#experimental

[2018-03-05 22:48] wlach commented on #821
This may be doable as a good first issue. It's not trivial, but shouldn't be excessively difficult unless I'm missing something. I think we probably just need to allow showing some of the decimal part on the y axis if the range is small enough.

Instructions on how to contribute to metrics graphics:

https://github.com/mozilla/metrics-graphics#contributing

I would probably start by looking at the

[2018-03-07 00:36] cnwangjie commented on #821
I'm working on it.

[2018-03-07 12:10] thomaschampagne opened #828 "Generated "dist/metricsgraphics.js" throws "Cannot set property 'row_number' of undefined""
@wlach Using the current master at commit https://github.com/mozilla/metrics-graphics/commit/b893d05502cdd4f9886deafa3ff98763e48054fb and just generated "dist/metricsgraphics.js", i'm getting the below error on a client app:

[code]
I dug in my app code without success...

**And i finally reproduced it on metrics-graphics examples page:**

In `example.htm` i used "dist/metricsgraphics.js" directly

[2018-03-07 15:46] wlach commented on #828
Probably more fallout from using babel :/ hopefully there is a workaround...

[2018-03-07 18:05] thomaschampagne commented on #828
**Another info:**

If you revert my commit https://github.com/mozilla/metrics-graphics/commit/2aa74205c85f1e7fb06868f84bd5125466dc474e _(Use babel before umd step in gulp build pipeline (fixes #825) (#826))_

And edit `dist/metricsgraphics.js`  by replacing on line **13**:

`})(undefined, function (d3) {`
by
`})(this, function (d3) {`

to get a valid UMD file... then the bug do not occurs on my ch

[2018-03-07 18:33] wlach commented on #828
@thomaschampagne It seems correct to me to use babel before the umd step, let's see if we can't track down the underlying cause.

[2018-03-07 20:33] wlach commented on #828
Ok, I think the problem is that `this` in this type of function used to resolve to `window`, but doesn't since we started using babel:

https://github.com/mozilla/metrics-graphics/blob/b893d05502cdd4f9886deafa3ff98763e48054fb/src/js/common/rollover.js#L105

Possible solutions:

1. Switch uses of `this` in cases like this to reference window directly (kind of horrible).
2. Refactor code to not need

[2018-03-10 07:39] aashaka opened #831 "Anomalous legend for multiline graph with non-date x-axis values"
For multiline graph, when x-axis has numeric values, the legend has an extra "key" and "multiline_y_accessor" tag added to it ([Example](https://drive.google.com/open?id=1vtrIp12fWtKk_Bl_arlczTgRWhgGixEY)).

Upon changing the x-accessor to a date format for the same data, the legend comes out to be just fine ([Example](https://drive.google.com/open?id=1ggY-mI5p_4wrD8J6XYIzcihSxCamXhQ2)).

I found

[2018-03-11 12:04] cnwangjie opened #833 "y-axis ticks label cannot be fully displayed when there are too many decimals"
If the data is so small that ticks have 6 decimal places, this will cause the following situation:

![image](https://user-images.githubusercontent.com/7459652/37253037-234b4814-2567-11e8-9980-1a5ed49c58d4.png)

This is the code that will cause this problem: https://jsfiddle.net/wangjie/0zu4L1wn/

Expected Results:

![image](https://user-images.githubusercontent.com/7459652/37253044-382604cc-2567-1

[2018-03-12 14:01] wlach commented on #828
Update: Discussed this with hamilton last week. Fixing this area of the code to use closures, etc instead of relying on a semi-magical `this` object.

[2018-03-12 15:12] davedriesmans commented on #796
"Solved" it by making the date 2018-01-30, 2018-01-29 23:00:00

[2018-03-12 17:21] #828 closed

[2018-03-12 18:09] #821 closed

[2018-03-12 21:26] wlach commented on #833
@cnwangjie any chance you could come up with a fix? :)

[2018-03-13 20:04] deonthomasgy commented on #355
had this same issue, had to move d3 and metricsgraphics.js after bootstrap.js

[2018-03-14 00:23] garygreen commented on #811
Once this is done, is it worth changing the `main` in package.json to point to the main entry point for MG? Reason being, there is pretty decent support for ES6 now in all major browsers and it would allow Webpack / Rollup users to allow their bundler to bundle MG to create smaller and faster builds, targeting whatever browser they wish to support. See https://philipwalton.com/articles/deploying-e

[2018-03-14 00:33] edmorley commented on #811
There's a safer intermediate step: leave `main` pointing at an ES5 version, and use `module` for the ES2015 version. Webpack et al know to prioritise the `module` reference over `main`.

[2018-03-14 19:45] openjck opened #835 "Errors: root and MG not defined"
Run [this JS fiddle](https://jsfiddle.net/ouzL498n/). Notice the console errors about `root` and `MG` not being found. This isn't a peculiarity of JSFiddle. It also happens if the file is opened locally.

This didn't happen in the past. If you use a very old commit hash ([example](https://jsfiddle.net/tnkfwab3/1/)), this will work.

[2018-03-14 20:17] wlach commented on #835
This is due to https://stackoverflow.com/questions/17341122/link-and-execute-external-javascript-file-hosted-on-github I believe.

Using rawgit.com seems to work. e.g.

https://jsfiddle.net/ouzL498n/8/

[2018-03-14 20:17] #835 closed

[2018-03-14 20:23] openjck commented on #835
I'm a little confused. The [original JS fiddle](https://jsfiddle.net/ouzL498n/) is using *rawgit.com* and it looks like [yours](https://jsfiddle.net/ouzL498n/8/) is using a different commit from the *wlach-dist-test* branch.

[2018-03-14 20:29] wlach commented on #835
argh, I misdiagnosed the problem. I regenerated the files in dist/ and pushed them to a branch where I experienced the above error. Commit 43b73b64a1ea1e03069a6010965eec644a589a63 must be the culprit, which I guess a subsequent change (probably 2aa74205c85f1e7fb06868f84bd5125466dc474e) fixed.

[2018-03-14 20:31] openjck commented on #835
Did 2aa7420 fix it? I'm still seeing the bug on 2aa7420 and on the latest master.

[2018-03-14 20:32] wlach commented on #835
@openjck we haven't regenerated the files in dist/ since 2aa7420 was fixed, so it is expected that we'll still be failing until that's done

[2018-03-14 20:32] openjck commented on #835
Ah I see. Works for me. :smiley:

[2018-03-15 19:08] openjck opened #838 "Y axis label still sometimes overlaps ticks"
## Steps to reproduce

Load [this JSFiddle](https://jsfiddle.net/hhove4xz/2/)

## Actual result

![](https://user-images.githubusercontent.com/933396/37485702-9e7d890e-2862-11e8-80ec-3b6777dd0f67.png)

[2018-03-22 21:36] tomde commented on #381
Hello,

i really like this amazing graphs, it is state of art! I just need to have pie chart or donut chart in my project and links above did not give me any clue. Is there a way how to do donut chart in this library?

[2018-03-22 23:55] openjck opened #839 "Rollover sometimes overlaps markers, making them both unreadable"
## Steps to reproduce

Load [this JSFiddle](https://jsfiddle.net/jrp7fdkk/1/)

## Actual result

![](https://user-images.githubusercontent.com/933396/37804497-ea59b430-2e0a-11e8-876a-db59f10e1584.png)

[2018-03-22 23:56] openjck commented on #839
This would probably look fine if the tooltip had a solid white background and some padding.

[2018-03-28 20:18] #729 closed

[2018-03-29 12:52] cnwangjie commented on #833
@wlach I didn't notice before that we can solve this problem by setting the `left` argument manually.
Its default value is `50`, we can set it to 60 or higher to make the ticks display completely.

I have just seen a similar issue (#838) can be solved this way.
This may be a common problem. If we don't intend to make the ticks appear intact automatically, we should probably tell the user about it.

[2018-03-29 13:03] wlach commented on #833
When not specified, it would be nice if we could calculate the `left` argument automatically based on the length of the ticks. This does seem like an ok workaround for now though!

[2018-03-29 13:14] cnwangjie commented on #838
May solve this problem by setting `left` argument a more large number manually.

[2018-03-29 13:23] cnwangjie commented on #838
Following is the effect of setting `left: 80` in your example

![2018-03-29-211958_1920x1080_scrot](https://user-images.githubusercontent.com/7459652/38091139-313b1ede-3397-11e8-9025-dc867b758f79.png)

[2018-03-29 18:42] openjck commented on #838
Good catch, @cnwangjie. I think it would be great if MG could automatically detect when this sort of thing is necessary and do it automatically.

[2018-03-29 23:50] sarah-clements opened #841 "Top of graph is cut off when values are specified as strings"
This only happens if I use data with two decimals. The highest value for this example is 22.00. Is there a work-around for this?

![screen shot 2018-03-29 at 4 31 48 pm](https://user-images.githubusercontent.com/19615783/38118514-fa575e7c-336f-11e8-8418-0b0b6aa579cf.png)

[2018-03-30 14:42] wlach commented on #841
This just sounds like a bug, maybe in the axis scaling code? If you have time to look into it, we've fixed a bunch of similar things recently if you look at the commit log. Otherwise I can try to find some time to take a peek next week.

[2018-03-30 14:43] wlach commented on #841
btw, a reproducible test case on jsfiddle using the latest version would be helpful, see for example #838

[2018-03-30 18:50] sarah-clements commented on #841
Here's a [fiddle](https://jsfiddle.net/sclements/n5u2wwjg/1997/) showing the problem.

[2018-03-30 22:27] openjck opened #842 "Is jQuery needed for tooltips?"
The README [mentions](https://github.com/metricsgraphics/metrics-graphics#dependencies) that jQuery is needed to enable tooltips. Is that still accurate? I'm using tooltips currently without jQuery being present.

[2018-04-03 12:58] wlach commented on #381
At this time this isn't supported, nor is there is any plan to add pie or donut charts to metricsgraphics. Sorry!

[2018-04-04 13:57] wlach commented on #841
The problem here seems to be that you're specifying the values as strings, if I change the value `"20.0"` in your example to `20.0` the axis seems to scale as expected;

https://jsfiddle.net/n5u2wwjg/7372/

That said, we should fix the axis scaling code to accept values passed in as strings (probably by trying to coerce them into numbers).

[2018-04-04 17:06] sarah-clements commented on #841
It does, but if you remove the "" from all of the values in the fiddle, the labels display the numbers as integers - not decimals. Interestingly, here's another [example](https://jsfiddle.net/n5u2wwjg/7749/) where the values are represented as either numbers or strings. If you change one number to be an outlier, say 10.72, the values represented as strings show decimals correctly and the values re

[2018-04-04 17:30] wlach commented on #841
You might coincidentally get the behavior you expect some of the time with strings and that function, it depends on what you pass in. In the first example you posted, "8.72" resolves to be greater than "20.0" (as a string), so it gets classified as the maximum.

It doesn't surprise me to hear that there are some issues with formatting values for display on the legend. Please file bugs for what you

[2018-04-04 17:44] sarah-clements commented on #841
Sure, I can file another bug. To be clear: you think the labels showing numbers being incorrectly rounded is unrelated to this original problem, which is the result of strings - rather than numbers - being provided (and the workaround in the meantime is not to use strings)?

[2018-04-04 17:48] wlach commented on #841
@sarah-clements I'm pretty sure that these are two seperate problems, yeah. #843 should fix the axis scaling issues when strings are passed in.

[2018-04-04 17:50] sarah-clements commented on #841
Ok, thanks for looking into this!

[2018-04-04 20:33] openjck commented on #841
Is this related to #823?

[2018-04-04 20:43] wlach commented on #841
@openjck no that looks different, as we're seeing that bug when the values are specified as integers.

[2018-04-04 21:01] wlach commented on #842
jquery is definitely still needed for chart labels and buttons, but am not sure about tooltips. We have plans to exorcise the jquery dependency completely at some point, hopefully within the next few months.

[2018-04-04 21:03] openjck commented on #842
Awesome! Can you link me to an example of chart labels and buttons? I'm not sure what that refers to.

[2018-04-04 21:10] sarah-clements opened #844 "Labels display rounded numbers rather than decimals"
Despite the value being a number with two decimals, the labels are shown with one decimal. If the value of 1.00 is changed to 2.00 in the [fiddle](https://jsfiddle.net/n5u2wwjg/8067/), all labels then display numbers that have been rounded to a whole number.

[Here](https://jsfiddle.net/n5u2wwjg/8064/) is another example where they've been completely rounded.

[2018-04-05 17:28] hamilton commented on #844
Yes, this is intended behavior. Typically when the range of numbers is larger, the display of decimals is irrelevant. The point of the axis is to provide some grounding on the general range of values of a number. When the numbers are smaller, decimal values make more sense, because you often need a finer-grained axis.

[2018-04-05 17:32] hamilton commented on #839
This is a rollover, not a tooltip. But yes I agree we need to refine how we calculate the position w/ markers - I've had this problem as well. My feeling would be to make a larger buffer between the header content & the graph body so there is never really any chance they'll collide.

[2018-04-05 17:35] hamilton commented on #838
Yes. The tension we found was, many users expect the `left` to not automatically scale, especially if they're dealing with tons of graphs on a dashboard and are trying to get the design right. There doesn't really seem to be a paradigm that works 100% for everyone without some design tweaking or margin-nudging. I'd be open to changing this priority, but this was one thing we found when we were fir

[2018-04-05 17:39] hamilton commented on #833
^^^ see my comment re #838

[2018-04-05 17:39] hamilton commented on #838
The solution would probably be to do it automatically unless `left` is set. Usually if you're obsessively tweaking an MG graph (like I am) you're setting `left` anyway.

[2018-04-05 21:50] sarah-clements commented on #844
Sure, that makes sense, but I was referring to the labels of data points on the graph. In this [example](https://jsfiddle.net/n5u2wwjg/9788/) the values 0.29 and 0.27 both display as "0.3" and 0.49 displays as "0.0" on the labels, so it doesn't really align with how it's visually displayed on the graph. Would you consider adding an option to customize the hover label format?

[2018-04-05 22:17] hamilton commented on #844
Ah, I understand the issue now - thanks for clarifying. There seems to have been a bug introduced somewhere down the line.

For now, you can use the `y_mouseover` argument:

[code]

We'll investigate why `decimals` doesn't appear to be working properly in this fiddle example.

[2018-04-05 22:40] hamilton opened #845 "Begin migrating test framework to Jest"
This is part of #807. Metrics Graphics is a really large library, and one that is largely tested visually. Refactoring and pushing toward more testable, cleaner code (#811) requires thoroughly writing tests, removing side effects, and refactoring to deal with smaller code chunks.

The first step should be straightforward - let's set up a `jest-test` script for now (so it doesn't clash with the cur

[2018-04-06 14:29] AlanSl commented on #690
I had this error one time after forgetting to add a new empty selection before adding some data in a nested element. Strange, because that usually gives a different error, I'm not sure what was different about my case that it gave this error instead. Something like:

[code]

Fixed it like:

[code]

[2018-04-07 04:03] openjck commented on #806
Any way we can bump priority on this? It's not the biggest thing slowing Ensemble down, but it's one of the factors, as described here:

https://github.com/mozilla/ensemble/issues/91

[2018-04-07 22:27] markosole commented on #469
Hi all. I have similar problem with date value. I need this format "Y-m-d H:M:S" but can not make it work. The only thing that works but with side effects it timestamp as a date value.
Now I have it working with timestamp but I would like to fix x axis which shows number (timestamp) instead of string date. How can I convert it?
Maybe something like this `d3.time.format('%b %d')` - this did not wor

[2018-04-09 14:27] wlach commented on #841
Ok, after discussing this with @hamilton and @sarah-clements, I think what we really want is to fix #844 -- that was the motivation for using strings instead of numbers in the first place. Closing this one.

[2018-04-09 14:27] #841 closed

[2018-04-12 15:40] wlach commented on #844
I will look into why the decimals option isn't working now.

[2018-04-12 21:23] openjck opened #848 "Some data causes x-axis to show year multiple times"
## Steps to reproduce

Load [this JSFiddle](https://jsfiddle.net/jrp7fdkk/11/), which renders the following data:

[code]

## Actual result

![](https://user-images.githubusercontent.com/933396/38705003-1dcc1e54-3e76-11e8-9945-a58b450839ec.png)

[2018-04-15 08:05] brylie opened #849 "What is the latest version of this project?"
On the releases page, it says the latest release is 2.11, which was released on Dec 10, 2016. However, there are two later release tags (2.12.0 and 2.13.0). What is the schedule for those to be marked as official releases? What is the current 'latest release'?

[2018-04-23 14:53] wlach commented on #849
Hey, the latest version is actually 2.14: https://www.npmjs.com/package/metrics-graphics

We obviously need to make the releases on this site correspond to reality. I'll look into how to make that happen.

[2018-04-25 01:38] openjck commented on #806
Chart.js allows the developer to choose a line color using the `borderColor` and `backgroundColor` properties.

For example, this code:

[code]

... generates this chart:

<img width="1091" src="https://user-images.githubusercontent.com/933396/39221876-706a76de-4807-11e8-9be6-ef04bd323df7.png">

Of course it would have to be slightly different in metrics-graphics, given that metrics-graphics takes

[2018-04-25 02:27] hamilton commented on #806
I believe you're looking for the `color` argument, correct?

[This example](https://iodide-project.github.io/master/?gist=hamilton/ed4d74f9b0844ae2db49f2b9ca0c40a5) (click "run all cells" in the top left, little fast forward icon) seems to mirror the functionality in question.

[2018-04-25 21:14] openjck commented on #806
This may do the trick. I'll look into it soon. I'm sorry I didn't know about this option. I didn't see it on the [List of options](https://github.com/mozilla/metrics-graphics/wiki/List-of-Options) page.

[2018-04-25 22:35] hamilton commented on #806
Yep this is clearly a weakness in our bad / outdated documentation!

On Wed, Apr 25, 2018 at 3:23 PM John Karahalis <notifications@github.com>
wrote:

[2018-04-26 17:57] #844 closed

[2018-04-26 18:10] hamilton commented on #806
@openjck updated the wiki to reflect this. To be honest, I did a massive feature push about a year and a half ago on MG, and I realized I never updated the documentation at all. A reckoning is upon us, feature-wise.

[2018-04-26 20:14] openjck commented on #806
Great! Where was the change made? I don't see an update to *List of Options* but maybe I should be reading docs somewhere else?

[2018-05-03 19:38] wlach commented on #848
Temporary workaround might be to use `xax_count` to reduce the number of ticks. Looking into a better solution right now...

[2018-05-04 01:53] cnwangjie commented on #790
I submitted a pull request #851 with my attempt and some of my questions. Can you take a look and give me some advice? @wlach

[2018-05-10 14:16] cnwangjie commented on #822
I think this may be a bug worth paying attention to.
It is caused by this line

[code]

 in `mg_min_max_numerical` method.

In the example, the max_val is 3.2 at the beginning. After it multiplied by default `inflator` (10/9), it becomes 3.555555555555556. So it caused such a result.

If the value of y is bigger, the problem will be more obvious. If you set data as

[code]

will cause the followin

[2018-05-17 20:59] openjck opened #852 "Set user-select: none on SVG elements"
This was found by [one of our testers](https://github.com/mozilla/ensemble/issues/130).

Basically, when using Firefox for Android, tapping on a data point causes the *Select* context menu to appear. This doesn't happen when `user-select: none` is applied to the SVG element. You may want to use vendor prefixes for that rule depending on which browser you support.

![](https://user-images.githubuse

[2018-05-23 02:38] wlach opened #854 "We should auto-publish website from a gh-pages branch"
The metricsgraphics site (https://www.metricsgraphicsjs.org) hasn't been updated in quite some time, despite being built from a copy checked into the tree.

To simplify things, I'd like us to serve the website from github pages. I think the shortest path to producing the documentation is *probably* via gulp, though I'm not sure how to make that happen:

https://github.com/metricsgraphics/metrics-g

[2018-05-23 13:06] wlach commented on #852
@cnwangjie I know you set the user-select property to none in this commit to add brushing/zooming:

https://github.com/metricsgraphics/metrics-graphics/commit/c4c0ac9a4d66b31088b3e7fc83a489b33ce3d7dc

Do you have any thoughts on how to solve this?

[2018-05-23 13:54] cnwangjie commented on #852
@wlach I've confirmed this problem.
As @openjck said. We just add css similar to the following can avoid this problem for the line chart in Firefox for Android.
[code]
I would like to submit a PR for this and avoid this problem for all types of charts.

[2018-05-24 19:44] wlach opened #855 "Brushing & zooming should persist when zooming over an overflow plot"
@cnwangjie recently added brushing and zooming support in #851, including support for an "overview plot" which you can use to quickly brush/zoom in on a subplot. This works great, however currently the selection over the overview plot disappears after the zoom happens. It would be great if it operated similar to how flot does, where the selection over the overview plot persisted:

![image](https:/

[2018-05-24 20:53] #848 closed

[2018-05-25 03:40] cnwangjie commented on #855
@wlach Did you mean that when we zoom the original chart, create a corresponding extent in the overview plot? I submitted a PR (#857) to achieve this. Is this what you expected?

[2018-05-25 18:42] #852 closed

[2018-05-25 23:45] pdehaan opened #858 "Errors when trying to run npm install"
Trying to fresh Git clone and <kbd>$ npm install</kbd> but it's blowing up on trying to install [**natives@^1.1.0**](http://npm.im/natives):

[code]

[2018-05-28 15:55] pdehaan commented on #858
Actually, it looks like it was possibly an npm registry issue. Rerunning <kbd>$ npm install</kbd> this morning doesn't fail out with a fatal error.

[code]

[2018-05-28 15:55] #858 closed

[2018-05-28 16:18] pdehaan opened #859 "A few JSHint errors when running `gulp jshint` task"
**UPDATE:** #861 PR was merged, current status of JSHint errors is... 🥁:drum::drum:

[code]

---

<details>
<summary>Original bug report...</summary>

### Steps to reproduce:

[code]

Not sure of an "easy" way to count all those errors, but I did some dirty local "grep" and SublimeText hacking and it looks like about 275 errors (although 3 files had so many errors, JSHint stopped scanning). Adding

[2018-05-28 20:41] wlach commented on #859
Thanks for the report, it would be nice to fix these errors. :) I think eventually we'll switch to a more modern linter, but there would still be value I think in making these tests pass.

@cnwangjie if you're looking for something more to do, this would also be helpful and would help ensure you or others don't introduce more errors. Roughly I think fixing this involves:

* Adding `"esversion": 6`

[2018-05-28 23:41] pdehaan commented on #859
Yeah, I was going to suggest switching to ESLint and something similar to the following config, but there are lots of errors that we'd need to address (although a bunch could be addressed w/ the ESLint `--fix` CLI flag):

[code]

[2018-05-28 23:43] pdehaan commented on #859
I haven't tried this personally, but this looks interesting: https://github.com/jshint/fixmyjs

[2018-05-28 23:50] pdehaan opened #860 "Switch to a more modern JavaScript linter (like ESLint)"
Re: https://github.com/metricsgraphics/metrics-graphics/issues/859#issuecomment-392600341

Specifically,

I had a rough ESLint config you could use as a starter in https://github.com/metricsgraphics/metrics-graphics/issues/859#issuecomment-392617731, but you'll probably want to fine-tune the rules.

[2018-06-01 18:46] wlach commented on #854
@cnwangjie wrote up a skeleton of a solution in #862, which I tweaked a bit. Things are now sort of working:

https://metricsgraphics.github.io/metrics-graphics/

Things to fix:

* Some resources aren't loading on all the pages due to various path issues
* Lots of references to metricsgraphicsjs.org which should be removed (even if we use the domain, the web site shouldn't depend on it)

I would a

[2018-06-02 18:27] idaham opened #865 "chart in multi tab (using twitter bootstrap)"
Hi,
Anyone ever try to render chart on multiple tab ?
I found out that chart is not rendered properly on Inactive tab. For Active tab chart is displayed correctly. Is this a bug or I misconfiguration ?
<img width="266" alt="screen shot 2018-06-03 at 2 23 16 am" src="https://user-images.githubusercontent.com/10259703/40879613-570db97a-66d5-11e8-91b5-12184e7081f9.png">

[2018-06-06 13:23] wlach opened #866 "Optional callback when zooming"
To enable us to persist the zooming level in a URL as seen here:

https://treeherder.mozilla.org/perf.html#/graphs?series=mozilla-inbound,1640626,1,1&zoom=1527860804962.76,1527908121265.0603,211.1940298507463,296.2686567164179

We should allow persisting the zoom level after the selection succeeds.

[2018-06-06 16:02] #855 closed

[2018-06-06 16:04] cnwangjie commented on #866
I've submitted a PR for this (#867). I think currently we only need a trigger for a brushing event. The user can use `processed.zoom_x / processed.zoom_y` to get the actual zoomed data range. If we need to allow user to change brushing behavior I can make more changes.

[2018-06-06 20:48] wlach commented on #866
@cnwangjie is there currently a way to set the zoom level when constructing the graph? That is also an important feature.

[2018-06-07 03:35] cnwangjie commented on #866
It is possible to use the exported `MG.zoom_to_data_domain` and `MG.zoom_to_data_range` functions to control the zoom level. Just need to call it after `MG.data_graphic` can achieve the effect of setting the initial zoom level.

[2018-06-08 18:45] wlach commented on #866
Ok, those should be good for now! See my comment on the PR for some requested changes.

[2018-06-10 16:43] #866 closed

[2018-06-24 22:23] Mte90 opened #870 "Aggregate by week"
I use this library on a my tiny project https://github.com/Mte90/ExtStoreStats

IS based on two parts: python script to scrape download stats of my browser extensions and a html file that show this data.

Now the data are a lot so I was wondering if there is a way to aggregate them by the library in automatic way.

[2018-06-29 11:33] edmorley opened #871 "Update to d3 v5"
d3 v5.0.0 was released in January:
https://github.com/d3/d3/releases

It would be great to get metrics-graphics using the latest version, if only to avoid breakage by accidentally upgrading direct `d3` dependencies to v5 when needing to mix and match lower and higher level APIs.

[2018-06-29 11:38] edmorley opened #872 "Starting using Renovate to update dependencies"
I've been using Renovate with Treeherder and the Neutrino project and am very happy with it so far.

Whilst metrics-graphics doesn't have many dependencies (currently only `d3`), using Renovate would:
* mean a PR is opened as a reminder to help speed up major version upgrades (ref #871)
* mean the lockfile can be automatically refreshed on a schedule, that way making it easy to detect new d3 sub-p

[2018-06-29 18:00] wlach commented on #872
I've heard good things about renovate, why don't we give it a try

[2018-06-29 21:24] wlach opened #874 "Add an example of using popper.js to show a tooltip in a scatterplot"
@cnwangjie did up a great demo of how it's already possible to use popper.js in combination with the mouseover event to show a tooltip when elements of a scatterplot are hovered over:

https://jsfiddle.net/wangjie/6cp98pcp/

We really should update the docs to show how this works. We probably need to reorganize the documentation categories in general, but for now putting this under "experimental"

[2018-06-30 02:14] openjck commented on #839
I was able to work around this on [mozilla/ensemble](https://github.com/mozilla/ensemble) by just moving the rollover box up 50 pixels. That works well for our use case, but I'm not sure if 50px is exactly the right amount for all possible configurations. If it is, I can submit a quick PR that does that.

[2018-06-30 18:48] wlach opened #875 "Make the list of options programmatically accessible"
Currently libraries like [react-metrics-graphics](https://github.com/metricsgraphics/react-metrics-graphics/) need to manually specify the properties that they want to support. It would be great if metrics graphics exported such a list itself along with a few other pieces of useful metadata, like their type, for use by such libraries.

Probably the place to start here would be to take this existin

[2018-06-30 19:31] wlach commented on #839
Could you try making the change and see how the examples render when running `gulp serve`? I'm not sure if this is a case where we can just tweak the default or if we need to devise a more intelligent heuristic.

[2018-07-05 13:46] #839 closed

[2018-07-09 20:30] wlach opened #886 "Need a way to make "click to zoom out" behaviour optional with brushing/zooming"
In Perfherder's use case, one graph (the top one) allows the user to click on it to unset any zooming. However, for the lower one, this is not the case -- clicking on the graph has no effect. Right now in metricsgraphics, clicking on a zoomed-in graph always zooms out.

I'm open to being convinced of another solution, but it seems to me like the simplest solution is to add a `click_to_zoom_out` bo

[2018-07-11 02:39] cnwangjie commented on #886
Yes, I think it is indeed the simplest solution in this case. I've submitted a PR to add `click_to_zoom_out` option. (#887)

[2018-07-12 11:58] jimis commented on #193
In systems monitoring (e.g. CPU, RAM utilisation) it is very common to use stacked area graphs. I found a nice reasoning of [why and when it is desired](https://www.datadoghq.com/blog/timeseries-metric-graphs-101/#when-to-use-stacked-area-graphs). In short:
* To check both the sum and the contribution of each of its parts at a glance
* To see how a finite resource is being utilized

[2018-07-18 13:28] cnwangjie opened #890 "The old line will not be removed if set an array of arrays to an empty array"
With the data in example page. This is an example: https://jsfiddle.net/wangjie/8z6q3ky4/5

Following is the previous effect.

![image](https://user-images.githubusercontent.com/7459652/42884273-82262ccc-8ad0-11e8-85dd-b7a636e68c57.png)

If we use `data[0] = []` to try to set an array to an empty array, the old line will not be removed like following image.

![image](https://user-images.githubuser

[2018-07-23 13:33] #890 closed

[2018-07-25 12:35] wlach commented on #871
This is done now through renovate, though unreleased. I will probably be releasing a new major version of metricsgraphics with these changes at the end of the summer.

[2018-07-25 12:35] #871 closed

[2018-07-25 12:46] edmorley commented on #871
Awesome :-)

[2018-07-26 08:43] cnwangjie commented on #875
I submit a PR (#893) just now with a simple list of options. I just simply merged the key of the default option objects in all the charts into an array. This does not be used to verify the type of option or generate a document, but it is enough for us to make a component for React or Vue easily.

If we want to use the list for generating documents, we should define a format for setting the type, d

[2018-07-28 15:12] cnwangjie commented on #874
@wlach Hi, I submit a PR (#894) to add an example just now. It could be used in any chart type with `mouseover` option. So I create the example with a line chart and a scatterplot, I think it can just show how it works. Could you take a look?

[2018-08-07 21:10] thegrandpoobah opened #896 "Add documentation that index is a reserved property on data objects"
I upgraded from MG 2.10.x to 2.16.x recently and the rollovers on my graphs stopped working in any meaningful way. It ended up being because of [this commit](https://github.com/metricsgraphics/metrics-graphics/commit/378e01290dc73252f643981d806ded268da6d60b) which adds a property onto the data series passed to mg called `index` which was the property that I was using myself for the the `y_accessor

[2018-08-07 21:54] wlach commented on #896
Yeah this isn't optimal, I think we should try to not manipulate the data passed in by the user somehow. If fixing this is really hard, we should at the least use some kind of object key which is likely to be unique, like `__index__`, as a stopgap.

[2018-08-08 14:05] cnwangjie opened #897 "Add a declaration file for metricsgraphics"
There are many libraries with a Typescript declaration file (a .d.ts file), it provides a definition of the type of api like c header file. If there is a declaration file you can get hints from the editor if you have a declaration file whatever writing Javascript or Typescript. And the declaration file will have comments. it hide the details of the code and leaving the api that can be called, whic

[2018-08-15 19:50] #896 closed

[2018-08-15 19:51] wlach commented on #859
I think we're good here now.

[2018-08-15 19:51] #859 closed

[2018-08-19 10:14] gulipad opened #899 "Confidence band is cut by the frame"
I cannot get my large confidence band to fit in the graph. It is cut by the frame itself. Image attached.
![image](https://user-images.githubusercontent.com/20420336/44307818-70ad3480-a3a9-11e8-9045-05bc4f515707.png)

[2018-09-06 03:29] Rupeshiya commented on #794
@wlah How can I fix this issue ?

[2018-09-06 04:53] cnwangjie commented on #794
@wlach I fixed it in #901

[2018-09-07 15:38] edmorley opened #902 "Switch from gulp to rollup"
Rollup is a more modern build tool that many libraries have now switched to:
https://rollupjs.org/guide/en

Switching will likely improve the dividends from the ES6 work (#811), given its support for tree shaking etc.

[2018-09-08 18:06] #794 closed

[2018-09-14 10:13] edmorley opened #903 "Reduce impact of metrics-graphics on bundle size"
Hi :-)

The README currently says:

However it actually causes a **385KB** (minified) increase in bundle size:
https://bundlephobia.com/result?p=metrics-graphics@2.15.6

This is larger than [react](https://bundlephobia.com/result?p=react@16.5.0)+[react-dom](https://bundlephobia.com/result?p=react-dom@16.5.0) (96KB), [jQuery](https://bundlephobia.com/result?p=jquery@3.3.1) (85KB), [lodash](https://

[2018-10-03 19:57] thorsteinssonh opened #904 "brushing/zooming sometimes results in graph completely collapsing"
Our metrics graphs sometimes completely collapse when resetting zoom/brushing.

Here is an example graph, http://docs.seamon.io/embed/sample1.html

An here is what sometimes happens when zooming our (resetting the graph)
with a single click, see uploaded screenshot here:
[http://pasteall.org/pic/show.php?id=14253a211247fd23494aa92608894c05](http://pasteall.org/pic/show.php?id=14253a211247fd23494aa

[2018-10-04 08:02] cnwangjie commented on #904
It is caused by selecting a too small range, I've submitted a PR (#905) to avoid collapsing in this case.

Before a new version fixed this problem is published you can use the callback function `brushing_selection_changed` to achieve similar effect.

[code]

[2018-10-06 15:42] wlach commented on #902
I've started working on this in a PR (actually using rollup via gulp): #907. It's been a *ton* of work, but it's becoming increasingly obvious to me that the library is unmaintainable in its current form -- we really just need to start using proper modules and namespacing like it's 2016.

I'm actually kind of feeling that maybe neutrino is a better fit for this library longer term (which I guess w

[2018-10-14 00:34] thorsteinssonh commented on #904
excellent thank you!
I think we can close this one.

[2018-10-28 19:03] mattwilson1024 commented on #871
Did a new version ever get released? I have some issues at the moment because metrics-graphics depends on d3 v4, but other areas of our app depend on d3 v5. Wonder if there's a recommended solution for this?

[2018-10-30 14:33] wlach commented on #871
@mattwilson1024 not yet, I'm in the middle of a refactoring of the codebase before the next major release. I may wind up releasing a work-in-progress on npm soonish, keep your eyes on #907.

[2018-11-09 15:35] edmorley commented on #902
Sorry the delayed reply. Personally I suspect rollup is a better option for libraries rather than webpack. The Neutrino library preset is also not very actively maintained. Setting up linting and tests is probably easier than one would expect when not using custom tools like Neutrino, since it becomes possible to just follow the standard guides (whereas when using eg Neutrino, one is "off the beat

[2018-11-19 21:58] AmmsA opened #908 "API to show a point"
Is there a way such that I can show/hide a single point without having the mouse hover on the chart? I would specific points to show when the user clicks on some button.

[2018-11-23 16:36] Inqus opened #909 "Need help"
1) I have two data arrays with time series, factual data and forecast data, second array have one more value than first but not have date, can i add this point without date?

2) how to customize the display dates without time, i need only date
<img width="1074" alt="2018-11-23 22 30 48" src="https://user-images.githubusercontent.com/20386866/48953271-7a79a180-ef6f-11e8-876c-cd895d63c28a.png">

[2018-12-09 11:28] renovate[bot] opened #910 "Dependency deprecation warning: qunitjs (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v2.4.1) of dependency `qunitjs` has the following deprecation notice:

`2.4.1 is the last version where QUnit will be published as 'qunitjs'. To receive future updates, you will need to change the package name to 'qunit'.`

Marking the latest version of an npm package as deprecated results in the entire package being considered depre

[2019-02-08 00:55] PointZeroSeven opened #912 "No Interactivity"
See  file:///Users/danielleavey/Downloads/metrics-graphics-2.15-2.6/examples/examples.htm#data
None of the links at the top of the page connect.

See  file:///Users/danielleavey/Downloads/metrics-graphics-2.15.6/examples/interactive-demo.htm
The interactive demo does not run.

[2019-02-21 16:55] hach-que opened #913 "Changing line color over time"
Is it possible to change the line color based on the Y value? We want to have the line red when the Y value is negative, and green when the Y value is positive.

[2019-02-25 22:53] garygreen commented on #807
Does anyone know of a different library that is more modern than Metric Graphics? It looks like this library is lagging behind a bit so wondering if it's worth just calling it a day and finding an alternative... anyone have any recommendations? 😃

[2019-02-26 16:44] wlach commented on #904
Thanks!

[2019-02-26 16:44] #904 closed

[2019-02-26 16:47] wlach commented on #807
Realistically this may be the best option for you, though I have not yet found something which hits all the sweet spots MG does yet. Some popular charting libraries used by others @ Mozilla include:

* chart.js: https://www.chartjs.org/
* plotly.js: https://plot.ly/javascript/

[2019-05-18 19:23] mvolkmann commented on #842
Can someone show a correct way to include jquery in an app that uses metrics-graphics?
Do I have to make sure it is included AFTER metrics-graphics?
I'm trying to use this in a React app. Can I include it with a script tag in index.html?

[2019-05-18 22:24] mvolkmann opened #917 "doubled lines in rollover"
What could I be doing wrong that is causing two rollover lines for each line in my chart?
<img width="186" alt="rollover-issue" src="https://user-images.githubusercontent.com/79312/57975596-9ba4d300-7991-11e9-8e53-a0005b42efef.png">

[2019-05-18 22:44] mvolkmann commented on #917
I found the issue. I had bad date values for the x-axis. Not sure why that caused this issue, but it went away when I fixed my date values.

[2019-05-18 22:44] #917 closed

[2019-06-04 18:55] satshabad-cr commented on #138
Would it be possible to write a plugin to do this? I need to generate a graph with multiple Y axis that is very common in the domain of my company.

[2019-08-08 00:17] ianbroad opened #918 "Stacked multi-line graph?"
Is it possible to create a stacked multi-line graphic? So the lines are stacked on top of each other to get a combined total value?

[2019-09-24 18:29] Datamance opened #921 "Histogram overlaid on line/area graph?"
Hi there! Wonderful library - digging into it now and liking what I see so far.

I see that there's a way to do multiple lines/areas by way of multiple series in the passed data object. I also see that one can do "chart_type: 'histogram'" to get time series data in histogram format.

Is it possible to do a line _together with a histogram_, in one plot? The use case would be plotting cumulative cou

[2019-09-26 21:27] wlach commented on #921
Hi there! I don't believe this is currently possible unfortunately. Also note that this library is currently unmaintained: https://wlach.github.io/blog/2019/09/metrics-graphics-stepping-back-for-a-while/

[2019-10-28 05:34] igorpronin opened #925 "How to make an action on the graph click?"
I need to get data from the point of the graph on click on it, then make an action with it. Please, help to find the right way to do it. Is it possible in MetricsGraphics.js?

Thanks.

[2019-11-14 16:28] BenRomberg commented on #138
We've successfully implemented a workaround for this:
- Divide the data of the line you want to adjust by a factor.
- Multiply the values by the same factor using `y_rollover_format`:

[code]

The X-Axis won't match the line affected by the factor, but at least the rollover text will.

[2020-01-10 16:40] anish9461 opened #928 "Uncaught TypeError: areas.transition is not a function"
I am getting the 'Uncaught TypeError: areas.transition is not a function" with I try the brush: "xy" option in the MG.data_graphic. I am trying this on React.

[2020-03-11 22:02] jens-ox commented on #925
This is implemented in the updated fork over at https://github.com/jens-ox/metrics-graphics, but isn't documented yet. You can pass a `voronoi` parameter when instantiating a `LineChart`, which allows overriding the default voronoi behavior:
[code]

[2020-04-27 15:59] #910 closed

[2020-04-27 16:01] jens-ox commented on #903
Hi! Please see #929 -- the new version comes at ~10kB minified and gzipped.

[2020-04-27 16:01] #903 closed

[2020-04-27 16:06] jens-ox commented on #899
This is still relevant after #929 -- `LineChart` will have to overwrite the default `computeDomains` function and use the `confidenceBand` parameters.

[2020-04-28 08:59] jens-ox commented on #899
Also, baselines and markers have to be respected upon domain computation

[2020-07-21 15:59] wlach commented on #782
No longer relevant

[2020-07-21 15:59] #782 closed

[2020-10-23 15:42] sm4rtk1dz opened #937 "How to include and use metrics-graphics in html without npm?"
Hi everyone!

I want to use this library in a project that runs on PHP, i'd like to add the metrics-graphics js as a bundle included in the html output of the PHP code, is there any way to do this? if so, how do I do it? I've been looking but couldn't find any docs on the topic.

Thank you!

[2020-11-19 23:19] jasco commented on #937
From your question, I'm guessing you might be interested in including the library using a script tag in your HTML file from a CDN such as https://cdnjs.com/libraries/metrics-graphics.  Am I misunderstanding your needs?

[2020-11-20 04:33] sm4rtk1dz commented on #937
Yes! that's exactly what I need :)

[2020-11-23 09:36] ppp-one opened #938 "Touch support"
I am using the mouseover parameter to trigger things.  This does not behave as nicely on mobile, I only get a click equivalent, and no hover effect when I drag my finger across the graph.

Any way round this?

Thanks,
Peter

[2020-11-28 17:47] jens-ox commented on #937
Hi @sm4rtk1dz! Thanks for checking out metrics-graphics. I just published the first beta of v3 - if you want to use it, you can download a pre-built version from the [releases page](https://github.com/metricsgraphics/metrics-graphics/releases/tag/v3.0.0-beta1.0) :relaxed:

[2020-11-28 17:48] jens-ox commented on #937
Also, using artifacts from the releases page is the way I'd go when loading it directly via npm is not an option.

[2020-11-28 17:48] #937 closed

[2021-04-03 10:27] o7n opened #942 "Weird 'turns' and discontinuous lines"
My graph looks like this

![afbeelding](https://user-images.githubusercontent.com/18208650/113475407-cad56800-9475-11eb-9c89-8903e8dc8344.png)

How can I avoid the line going 'backwards' and making that nice round turn "to the left" ?
My data is below. The data points are not evenly distributed so I understand why this is happening.  I just want it to stop from happening.

No weird configuration.

[2021-06-23 16:28] efokschaner opened #943 "How's the maintenance outlook for this library?"
As gathered from the discussion in https://github.com/metricsgraphics/metrics-graphics/pull/929 this library seems to be going through an ownership transfer.

I'm wondering how that's going? How's the progress towards an official 3.0 release? Does @jens-ox foresee themselves being able to steward this project at least until another steward steps up? Are fixes / contributions from the community abl

[2021-06-23 18:06] khems commented on #714
Has anyone found a workaround for this?

[2021-06-24 08:37] jens-ox commented on #943
Hi! Yeah, working on MG has been on my ToDo list for a while. The codebase is in quite a good shape, but the docs still need a lot of work. There are also some smaller bugs here and there.

Personally I'm not currently using MG for any projects. I did the rewrite during the first lockdown, as I was on leave and wanted to try out a bigger rewrite for quite some time.

The landscape of visualization

[2021-06-24 16:21] efokschaner commented on #943
Thanks @jens-ox for the prompt and candid reply.

I personally don't have an informed opinion as to whether this project still satisfies a good niche in this space, so I would not urge you to take on any roadmap work.

Perhaps users with more experience using this and the other libraries you mention might weigh in?

In the meantime I was also considering Observable Plot, and now adding visx to my

[2021-07-30 00:06] jberryman opened #944 "Can't color bar charts?"
I've tried `colors: [ list of colors... ]` and it seems to have no effect.

[2021-11-07 19:27] jtleniger commented on #928
I'm also experiencing this issue. I looked through https://github.com/d3/d3-selection/issues/185 but have been unable to resolve this.

[2021-12-20 15:48] edmorley commented on #902
This appears to now be fixed :-)

[2021-12-20 15:48] #902 closed

[2022-02-03 20:41] formido commented on #943
Personally I think there is a niche for MG. Observable Plot is a lot, whereas this project focuses on just the most common charts, which is usually what you need. Not coincidentally, the chart on the homepage of the marketing site was precisely what I wanted for my project. And maybe because it's focused, the details are slightly nicer. I like the polish and aesthetics of the examples in this proj

[2022-02-03 21:14] MrfizieeD opened #950 "Build"

[2022-02-03 21:14] MrfizieeD opened #951 "Build Metrics"

[2022-02-07 19:42] formido commented on #943
Nine months ago, Observable Plot was introduced on Hacker News and this comment from the thread I think captures what I love about MG and the niche it fills:

![image](https://user-images.githubusercontent.com/22295/152859486-9007dfa3-2791-46de-a4d0-8135360c6c45.png)

Only, JS *doesn't* lack this, MG does it perfectly!

Even the Mozilla Metrics team's blog post explaining the design philosophy beh

[2022-05-19 12:33] jens-ox commented on #943
Thanks for the kind words @formido. It took some time due to job changes etc on my side, but I'm back ☺️
Here's my plans for the next weeks:
* I think I still don't have push rights for NPM. @wlach I wrote you a mail some time ago regarding push rights to NPM and the domain. I will publish a beta v3 release as soon as I'm able to.
* Switch the docs over to Next.js, so I can nicely publish MDX docs

[2022-05-19 13:04] wlach commented on #943
Hi @jens-ox, I just checked and you should have rights to push the package (jens-ox is listed as a maintainer on GitHub).

For the domain, can you contact me offline? I think we should be able to figure something out. Send me an email at `wlach@protonmail.com` or (preferably) ping me on Element (`@wlach:matrix.org`).

[2022-05-19 16:08] #951 closed

[2022-05-19 16:08] #950 closed

[2022-05-19 16:18] jens-ox commented on #928
The `MG.data_graphic` API is obsolete. Closing this.

[2022-05-19 16:18] #928 closed

[2022-06-08 01:58] rishabhsingh8 opened #959 "Playground"
I noticed in the new site there was no longer a playground to play around with the graphs and the API.

I made one for personal use here: [Visualize](https://rishabhsingh8.github.io/visualize/). ([Source](https://github.com/rishabhsingh8/visualize)).

Wondering how you feel about linking to this? :)
(Or if you had other plans for this, would love to know and help out if possible).

[2022-08-26 13:28] #870 closed

[2022-11-16 15:47] sandstrom commented on #734
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old I just wanted to ask if this is still relevant? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2022-11-16 15:48] sandstrom commented on #563
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old I just wanted to ask if this is still relevant? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2022-11-16 15:48] sandstrom commented on #639
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old I just wanted to ask if this is still relevant? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2022-11-16 15:48] sandstrom commented on #842
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old I just wanted to ask if this is still relevant? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2022-11-16 15:48] sandstrom commented on #912
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old I just wanted to ask if this is still relevant? If it isn't, maybe we can close this issue?

By closing some old issues we reduce the list of open issues to a more manageable set.

[2022-11-16 15:49] sandstrom commented on #909
Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverflow.com/) or [Github Discussions](https://docs.github.com/en/discussions) (if one is setup for this repo) is better than Github.

I'd suggest closing this one.

[2022-11-16 15:49] sandstrom commented on #944
Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverflow.com/) or [Github Discussions](https://docs.github.com/en/discussions) (if one is setup for this repo) is better than Github.

I'd suggest closing this one.

[2022-11-16 15:50] sandstrom opened #960 "Enable discussions tab on this repo"
How about enabling the discussions tab on this repo, and move any "Stackoverflow" kind of issue there? That way it's easy to cleanup old issues by closing them, or moving them.

As an aside, I'd also go through and close most old issues. It's easy for issues to grow into an infinite backlog.

[2022-11-16 15:53] openjck commented on #842
Yes, this can be closed. My support question was answered. Thanks!

[2022-11-16 15:54] #842 closed

[2022-11-16 16:09] jberryman commented on #944
the library has almost no documentation I can find, so there's no way to distinguish the two. I can't recall what I was trying to do here, but don't use this library

[2022-11-16 16:09] #944 closed

[2022-11-16 16:17] brylie commented on #734
We're no longer using Metrics Graphics, although I do appreciate the spirit of the project.

[2022-11-16 16:17] #734 closed

[2022-11-16 19:21] tarikms commented on #563
Hi, sure I haven't used this in years so not a problem to me anymore. Not
sure if this was ever fixed.

On Wed, Nov 16, 2022, 7:48 AM sandstrom ***@***.***> wrote:

[2022-11-17 08:11] recog-arch commented on #639
Yes, sorry!

[2022-11-17 08:17] bertocast commented on #639
Yes, sorry!

[2022-11-17 08:17] #639 closed